.progressbar {
    width: 450px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 60px;
    background-color: #b8bbc7;
    box-shadow: 0px 0px 20px #787878bc;
    overflow: hidden;
}

.bar {
    width: 0%;
    background: linear-gradient(
        200deg,
        rgb(50, 60, 254) 0%,
        rgb(85, 102, 253) 32%,
        rgb(63, 72, 253) 100%
    );
}

.progressbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10rem 20rem;
}

.progressbar-text-container {
    width: 25px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    color: rgba(75, 75, 75, 0.79);
    font-weight: bold;
    font-size: 20px;
}